body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f4f4f4; */
    text-align: left;
  }
  .content {
    max-width: 80%;
  }
  .email {
    color: #2bb29a;
  }
  .email-icon {
    font-size: 3em;
    margin-right: 10px;
  }
  .custom-text-color {
    color: #868e96; 
  }
  .custom-text-color a {
    color: #868e96; 
    text-decoration: underline; 
  }