body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    text-align: center;
}
.container {
    margin-top: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}
.text {
font-size: 20px;
margin-bottom: 30px;
text-align: center;
max-width: 600px; 
margin-left: auto; 
margin-right: auto;
color: #868e96; 
}
.button {
background-color: #12b886;
color: #fff;
padding: 13px;
border: none;
border-radius:0.5rem;
cursor: pointer;
width: 40%;
text-decoration: none;
}